<div class="row">
    <div class="col-lg-6">
        <h4 class="ms-5 mt-3">User Form</h4>

        <form [formGroup]="expenseForm" class="ms-5" (submit)="onSubmit()">

            
                <div class="mb-3">
                  <label for="price" class="form-label">Name</label>
                  <input type="text" class="form-control" id="price" placeholder="name" formControlName="price">
                 
                 @if(expenseForm.get('price')?.hasError('required') && expenseForm.get('price')?.touched){
                 
                  <div class="form-text text-danger fw-bold">Name is required</div>
                 }
                </div>
                <div class="mb-3">
                  <label for="title" class="form-label">Email</label>
                  <input type="text" class="form-control" id="title" placeholder="email" formControlName="title">
                
                    
                  @if(expenseForm.get('title')?.hasError('required') && expenseForm.get('title')?.touched){
                    <div class="form-text text-danger fw-bold">email is required</div>
                    
                   }
                 
                 
                 

                
                </div>
                <div class="mb-3">
                <label for="description" class="form-label">Phone Number</label>
                <textarea class="form-control" id="description" row="3" formControlName="description"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              
        </form>
    </div>
    
</div>
